nodered/flows/flow.json
[{"id":"156ba806.167338","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75776ce4.39a204","type":"http in","z":"156ba806.167338","name":"","url":"/chatbot","method":"post","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["bdc1f483.0b4188"]]},{"id":"a689d513.079e48","type":"http request","z":"156ba806.167338","name":"NLP","method":"POST","ret":"txt","url":"http://nlp:5000/square","tls":"","x":410,"y":60,"wires":[["f7be95.65e76168","a1dce09a.7308b"]]},{"id":"a1dce09a.7308b","type":"debug","z":"156ba806.167338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":80,"wires":[]},{"id":"bdc1f483.0b4188","type":"json","z":"156ba806.167338","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":140,"wires":[["a689d513.079e48"]]},{"id":"f7be95.65e76168","type":"http response","z":"156ba806.167338","name":"resquet","statusCode":"","headers":{},"x":700,"y":220,"wires":[]}]